@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
body{
  overflow: hidden;

  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  background: linear-gradient(to bottom, #dbdfec 0%, #e8ebf4 100%);

  font-family: 'Source Sans Pro', sans-serif;
}
.page{
  height: 100vh;
}
a{
  text-decoration: none;
}
.el{
  position: absolute;

  -webkit-transition: all 1000ms, 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 1000ms, 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1rem;

  color: #fff;
  border-radius: 50%;
  line-height: 4.5vh !important;
}
.locate{
  z-index: 1;
  top: 15%;
  left: 10%;

  width: 40vh;
  height: 40vh;

  -webkit-animation: bounce0 2s ease-out infinite;
  -moz-animation: bounce0 2s ease-out infinite;
  animation: bounce0 2s ease-out infinite;

  background: linear-gradient(to bottom left, #d35400 0%, #e67e22 100%);
  box-shadow: 10px 10px 65px #e67e22;

  font-size: 1.8rem;
  line-height: 8vh;
  transition: all 3s ease-out;
}
.locate:focus{
  width: 100vh;
  height: 100vh;
}
.locate-icon{
  width: 64px;
  margin-top: 60px;
}
.locate-page{
  width: 100vw;
  height: 100vh;
  margin: 0;

  background: linear-gradient(to bottom left, #d35400 0%, #e67e22 100%);
}
.speech{
  z-index: 2;
  top: 15%;
  left: 35%;

  width: 55vh;
  height: 55vh;

  cursor: pointer;
  -webkit-animation: bounce1 2s ease-out infinite;
  -moz-animation: bounce1 2s ease-out infinite;
  animation: bounce1 2s ease-out infinite;

  background: linear-gradient(to bottom left, #c0392b 0%, #e74c3c 100%);
  box-shadow: 12px 12px 65px #e74c3c;

  font-size: 2.2rem;
  line-height: 13vh;
}
.mic-icon{
  width: 70px;
  margin-top: 100px;
}
.general{
  z-index: 1;
  top: 65%;
  left: 20%;

  width: 30vh;
  height: 30vh;

  -webkit-animation: bounce3 4s ease-out infinite;
  -moz-animation: bounce3 4s ease-out infinite;
  animation: bounce3 4s ease-out infinite;

  background: linear-gradient(to bottom left, #d35400 0%, #e67e22 100%);
  box-shadow: 8px 8px 65px #e67e22;

  font-size: 1.6rem;
  line-height: 8vh;
}
.general-icon{
  margin-top: 65px;
}
.general-page{
  width: 100vw;
  height: 100vh;
  margin: 0;

  background: linear-gradient(to bottom left, #d35400 0%, #e67e22 100%);
}
.doctor{
  z-index: 1;
  top: 15%;
  left: 70%;

  width: 35vh;
  height: 35vh;

  -webkit-animation: bounce3 4s ease-out infinite;
  -moz-animation: bounce3 4s ease-out infinite;
  animation: bounce3 4s ease-out infinite;

  background: linear-gradient(to bottom left, #1A237E 0%, #283593 100%);
  box-shadow: 10px 10px 65px #283593;

  font-size: 1.7rem;
  line-height: 9vh;
}
.doctor-icon{
  width: 52px;
  margin-top: 50px;
}
.bus-page{
  width: 100vw;
  height: 100vh;
  margin: 0;

  background: linear-gradient(to bottom left, #1A237E 0%, #283593 100%);
}
.pills{
  z-index: 1;
  top: 65%;
  left: 62%;

  width: 30vh;
  height: 30vh;

  -webkit-animation: bounce0 6s ease-out infinite;
  -moz-animation: bounce0 6s ease-out infinite;
  animation: bounce0 6s ease-out infinite;

  background: linear-gradient(to bottom, #27ae60 0%, #2ecc71 100%);
  box-shadow: 8px 8px 65px #2ecc71;

  font-size: 1.5rem;
  line-height: 7vh;
}
.pills-icon{
  width: 40px;
  margin-top: 50px;
}
.faculty-page{
  width: 100vw;
  height: 100vh;
  margin: 0;

  background: linear-gradient(to bottom left, #27ae60 0%, #2ecc71 100%);
}
.test{
  z-index: 1;
  top: 65%;
  left: 20%;

  width: 30vh;
  height: 30vh;

  -webkit-animation: bounce1 6s ease-out infinite;
  -moz-animation: bounce1 6s ease-out infinite;
  animation: bounce1 6s ease-out infinite;

  background: linear-gradient(to bottom left, #3E2723 0%, #4E342E 100%);
  box-shadow: 10px 10px 65px #4E342E;

  font-size: 1.3rem;
  line-height: 3.5vh;
}
.test-icon{
  width: 40px;
  margin-top: 55px;
}
.cafe-page{
  width: 100vw;
  height: 100vh;
  margin: 0;

  background: linear-gradient(to bottom left, #3E2723 0%, #4E342E 100%);
}


@keyframes bounce0 {
  0%, 50%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-25px);
  }
  75% {
    transform: translateY(-15px);
  }
}
@keyframes bounce1 {
  0%, 50%, 100% {
    transform: translateY(-15);
  }
  25% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-25px);
  }
}
@keyframes bounce3 {
  0%, 50%, 100% {
    transform: translateY(-15);
  }
  25% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-25px);
  }
}

/*loading*/
.loading{
  position: absolute;
  top: 50%;
  left: 50%;

  width: 100px;
  height: 100px;
  margin: -60px 0 0 -60px;

  border: 10px solid #e05050;
  border-radius: 100%;
  background: #fff;
}
.loading:after {
  position: absolute;
  top: -20%;
  left: -20%;

  width: 140%;
  height: 140%;

  content: '';
  animation: rotate 2s infinite linear;

  opacity: 0.7;
  border-radius: 100%;
  background: trasparent;
  box-shadow: rgba(255, 255, 255, 0.6) -4px -5px 3px -3px;
}
@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
.flex-container{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;

  margin: 0;
  padding: 0;

  list-style: none;
}
.flex-item{
  width: 90px;
  height: 65px;
  margin: 10px;
  padding-top: 25px;

  text-align: center;

  color: #fff;
  border:  2px solid #fff;
  border-radius: 20px;
  background: trasparent;

  font-size: 1em;
  line-height: 20px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.37);
  animation: 0.2s ease-out 0s 1 item;
}
@keyframes item {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}
.flex{
  width: 120px;
  height: 80px;
  margin: 10px;
  padding-top: 25px;

  text-align: center;

  color: #fff;
  background: trasparent;

  font-size: 1em;
  line-height: 20px;
  letter-spacing: 0.1rem;
}
.icon{
  width: 48px;
}
.flex-cell-1{
  margin-top: 40px;
  width: 250px;
  height: 200px;
  padding: 10px;
  color: #fff
}
.flex-cell-2{
  width: 800px;
  height: 80vh;
  padding: 10px;
  color: #fff;
  margin: 20px;
}
.homelink{
  height: 100px;
  color: #fff;
  padding: 20px;
  font-size: 2.0rem;
  transition: all 0.5s ease-out;
}
.homelink:focus{
  font-size: 2.4rem;
}
.map{
  height: 100%;
  margin: 10px;
  margin-right: 20px;
  box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.37);
  border-radius: 4px;
  animation: 0.7s ease-out 0s 1 fade;
}
@keyframes fade {
  0%{
    opacity: 0
  }
  100%{
    opacity: 1
  }
}
.example-enter {
  background: red;
}

.example-enter.example-enter-active {
  background: green;
  transition: opacity 3s ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 3s ease-in;
}
.bus-container{
  padding-top: 100px;
}
.bus-item{
  background: #F9A825;
  color: #fff;
  font-size: 2.1rem;
  width: 200px;
  height: 100px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.87);
  line-height: 2.5vh;
}
.bus-item:hover{
  box-shadow: 8px 8px 6px rgba(0, 0, 0, 0.87)
}
.faculty-container{
  padding-top: 100px;
}
.faculty-item{
  width: 300px;
  font-size: 1.3rem;
}
.cafe-item{
  width: 130px;
}
.teacher-item{
  width: 250px;
  text-transform: capitalize;
  font-size: 1.2rem;
}
.heading{
  color: #fff;
  font-size: 2.3rem;
  margin: 10px;
}
.card{
  background: #fff;
  color: #000;
  border-radius: 4px;
  box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.37);
  animation: 0.3s ease-out 0s 1 item;
}
.route-item{
  color: white;
  font-size: 2.1rem;
  line-height: 0.8rem;
}
.profile{
  background: #fff;
  color: #000;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  padding: 40px;
  box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.27);
  border-radius: 4px;
  animation: 0.4s ease-out 0s 1 inside;
}
@keyframes inside {
  0%{
    transform: scale(100, 100);
  }
  100%{
    transform: scale(1, 1);
  }
}
.teacherName{
  text-transform: capitalize;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5)
}
.location-place{
  text-transform: capitalize;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5)
}
.avatar{
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  float: right;
}
.tests-icon{
  width: 50px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.sitting{
  text-transform: capitalize;
  color: #fff;
  font-size: 1.6rem;
  background: #d35400;
  border-radius: 10px;
  padding: 10px;
}
.address{
  text-transform: capitalize;
}